/*********************************************************/
/*                    ---- MAIN ----                     */
/*********************************************************/

#mainCV {
    padding: 90px 0;
}

.mainCv h2 {
    position: relative;
    margin: 30px 0 0 0;
}

.mainCv h2:after {
    height: 4px;
    width: 90px;
    bottom: -2px;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    z-index: 1;
    transform: skew(-36deg);
    -webkit-transform: skew(-36deg);
    background: #F9C72B;
}

.cv-titreSection {
    border-bottom: black solid 1px;
    width: 100%;
    margin-bottom: 20px;
}

main.themeSombre .cv-titreSection {
    border-bottom: white solid 1px;
}

 h3 {
    font-size: 30px;
/*     margin: 10px 0 5px 0;*/
     margin-bottom: 3px;
}

/*********************************************************/
/*                   A PROPOS DE MOI                     */
/*********************************************************/

.cvPres-contenu {
    display: flex;
    /* width: 80%;*/
    padding: 0 5%;
}

.cvPres-contenu-g {
    width: 300px;
}

.cvPres-contenu-d {
    margin-left: 30px;
    width: 60%;
}


/*********************************************************/
/*                     COMPETENCES                       */
/*********************************************************/

.cvComp-contenu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blockSkills {
    width: 40%;
}

.blockSkills h3 {
    margin: 20px 0 5px 0;
}

.skills {
    width: 100%;
}

.divCompetence {
    margin-bottom: 20px;
    position: relative;
}

.skills h6 {
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 6px;
    text-transform: uppercase;
}

.skills span {
    font-size: 12px;
    padding: 0px 5px;
    border-radius: 15px;
    color: black;
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 0;
    /* line-height: 14px;*/
    background: #F9C72B;
}

.progress {
    height: 6px;
    display: flex;
    overflow: hidden;
    background-color: #e9ecef;
    border-radius: 10px;
}

.themeSombre .progress{
    background-color: var(--gris-ligne);
}

.progress-bar {
    background: #F9C72B;
    border-radius: 10px;
}

/*********************************************************/
/*                        TIMELINE                       */
/*********************************************************/

/*Couleurs des lignes*/
:root {
    --gris-ligne: gray;
}


#cvTimeline * {
    box-sizing: border-box;
}

.date {
    margin: 0;
    color: var(--gris-ligne);
    font-size: 15px;
}

.timeline h3 {
    margin: 10px 0 3px 0;
    font-size: 30px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    /* margin-top: 20px;*/
/*
    display: flex;
    flex-direction: column-reverse;
*/
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: var(--gris-ligne);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}

.container {
    padding: 10px 40px;
    position: relative;
    /* background-color: inherit;*/
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #F9C72B;
    box-shadow: 0 0 0 5px white;
    transition: box-shadow 500ms ease 0s, background 500ms ease 0s;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

main.themeSombre .container::after {
    background-color: var(--bg-nuit-color);
    box-shadow: 0 0 0 5px var(--bg-nuit-color);
}

.container:nth-child(even) {
    left: 50%;
}

.container::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: 2px solid var(--gris-ligne);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--gris-ligne);
}

.container:nth-child(even)::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: 2px solid var(--gris-ligne);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--gris-ligne) transparent transparent;
}

.container:nth-child(even)::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: none;
    position: relative;
    border-radius: 6px;
    border: 2px solid var(--gris-ligne);
}



/*********************************************************/
/*                      RESPONSIVE                       */
/*********************************************************/



@media screen and (max-width: 700px) {

    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timeline .container::before {
        left: 60px;
        border: medium solid var(--gris-ligne);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--gris-ligne) transparent transparent;
    }

    .container::after,
    .container:nth-child(even)::after {
        left: 15px;
    }

    .container:nth-child(even) {
        left: 0%;
    }

    .cvComp-contenu {
        flex-direction: column;
    }

    .blockSkills {
        width: 100%;
    }

    .cvPres-contenu {
        flex-direction: column;
    }

    .cvPres-contenu-g {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cvPres-contenu-g img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: 50% 15%;
        clip-path: circle(50% at 50% 50%)
    }

    .cvPres-contenu-d {
        margin-left: 0;
        width: 100%;
        text-align: justify;
    }
}
